*{margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: aliceblue;}
    ::-webkit-scrollbar{display: none;}
    body{
        background: url('../imagens/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
            width: 100vw;
        height: 100vh;
    }
    
    
    main{
        background-color: rgba(19, 18, 18, 0.808);
       border-radius: 25px;
         width:70vw ;
        height: 70vh;
           margin: auto;
          
       /* 
       
        
        box-shadow: 10px 10px 40px black;*/
        
    }
    
    .btn {
        position: relative;
        left: 15px;
        margin: 30px 50px ;
        width: 150px;
        height: 60px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #0e0e0e;
        outline: none;
        transition: 1s ease-in-out;
      }
      
      svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: #0a1b77;
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
      }
      
      .btn:hover {
        
        
        background: #000000;
        color: rgb(238, 232, 232);
      }
      
      .btn:hover svg {
        stroke-dashoffset: -480;
        color: rgb(255, 255, 255);
      }
      
      .btn span {
        color: rgb(233, 229, 229);
        font-size: 18px;
        font-weight: 100;
      }
     .btn span:hover{
        color: rgb(17, 17, 17);
      
      }
      
      #irestore{position:relative;
        top:320px;
        left: 100px;
       
         }
         #icad{
            position:relative;
                top:320px;
                left: 105px;
               
                 
         }
      #tesoura {display: none;}
      .placeh {
        color: black;
     }
#zone0{text-align: center;}
#zone1{position: absolute; top: 30px; left: 100px;}
#zone2{}
#zone3{}
#zone4{}
#zone5{}
#zone6{}
#zone7{}
#zonae{}
