@charset "utf-8";
/* Medium devices (tablets, 768px and up)*/
@media (min-width:768px ) {
    main {
        background-color: rgba(19, 18, 18, 0.808);
        border-radius: 25px;
        width: 70vw;
        height: 90vh;
        box-shadow: 10px 10px 40px black;

    }

    #zone0{text-align: center;}
#zone1{margin: 25px;}/*Name*/
#zone2{margin: 25px;}/*email*/
#zone3{ margin: 25px;}/*password*/
#zone4{ }/*nasci*/
#zone5{ display: none;}/*arquiv*/
#zone6{ margin: 25px 54px;}/*nasci*/
#zone7{ margin: 25px 110px;}/*sex*/
#zona8{margin: 32px;}/*tiposerv*/
#zone9{ margin: 32px;}

}
